@import '../../styles/variables';

#taskManagementPage {
  .card-header {
    .title {
      font-size: 16px;
    }

    .card-category {
      margin-right: 20px;
      text-transform: uppercase;
    }

    .icon-settings-gear-63 {
      font-size: 18px;
    }
  }

  td.majorColumn {
    padding: 10px 0;

    &:focus {
      border: none;
    }
  }

  .taskStageColumn {
    width: 18%;
  }

  .badge {
    width: 80%;
    padding: 10px 0;
    font-size: 16px;
  }

  .taskStageDropdown {
    .btn {
      width: 80%;
      position: relative;
      text-align: left;
      padding-left: 20px;
      font-size: 13px;
      text-transform: uppercase;

      &:after {
        position: absolute;
        right: 20px !important;
        border-width: 6px;
      }
    }

    .dropdown-menu {
      position: absolute;
      top: -15px !important;
      left: 85% !important;
      right: -70%;

      -webkit-transform: translate(-200px, 0);
      -ms-transform: translate(-200px, 0);
      transform: translate(-200px, 0);

      &:before,
      &:after {
        position: absolute;
        width: 0;
        height: 0;
        content: '';
        top: 25px;
        left: -6px !important;
        border-width: 0px 12px 12px 0;
        border-color: transparent $white transparent transparent;
        transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
    }

    .dropdown-item {
      text-transform: uppercase;

      &.active-stage {
        background: $brown;
        color: $white;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .taskNameColumn {
    font-size: 16px;
  }

  .taskDeadlineColumn {
    width: 20%;
    text-align: center;
    font-size: 15px;
  }

  .currentlyEditedRow .taskDeadlineColumn {
    width: 27%;
    padding: 30px;
  }

  .rdt input {
    padding: 0;
    font-size: 16px;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid $blue;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $dark-grey;
      opacity: 1;
    }
  }

  .date-picker-wrapper {
    position: relative;

    i {
      position: absolute;
      top: 5px;
      right: 0;
      color: $dark-grey;
      pointer-events: none;

      &:hover {
        color: $dark-grey;
      }
    }
  }

  .rdtPicker {
    color: black;
  }

  .editIconColumn,
  .deleteIconColumn,
  .confirmIconColumn,
  .cancelIconColumn {
    width: 1.5%;
    text-align: center;
  }

  .editIconColumn,
  .deleteIconColumn {
    i:hover {
      color: $white;
    }
  }

  .confirmIconColumn {
    i {
      color: $green !important;
    }
  }

  .cancelIconColumn {
    padding-right: 10px;

    i {
      color: $red !important;
    }
  }

  .addTaskIconButton {
    width: 100%;
    height: 70px;

    td {
      position: relative;
      padding: 0;
    }

    .line-break {
      width: 100%;
      height: 0;
      border-bottom: 5px solid $brown;
    }

    i {
      position: absolute;
      top: 10px;
      left: calc(50% - 25px - 20px);
      font-size: 50px;
      background: $dark-blue;
      padding: 0 20px;
      color: $brown;

      &:hover {
        color: $orange;
      }
    }
  }
}
