@import '../../../styles/variables/';

#navbar {
  font-weight: bolder;
  &.navbar {
    background: $brown;
  }
  .nav-link {
    color: $white;
  }

  &.navbar .navbar-brand {
    margin-left: 0;

    &:focus,
    &:hover {
      color: $white;
    }
  }
}
