$brown: #a66838;
$dark-brown: #5a3f11;
$orange: #ef962d;
$brown: #a66838;
$dark-brown: #5a3f11;
$orange: #ef962d;
$green: #1bb249;
$light-green: #65f700;
$white: #ffffff;
$red: #ff0000;
$pink: #c850c0;

$blue: #4158d0;
$dark-blue: #27293d;

$light-grey-3: #eeeeee;
$light-grey-2: #dddddd;
$light-grey-1: #cccccc;
$dark-grey: #848484;
