@import '../../../styles/variables/colors';

.customInputFormGroup {
  height: 60px;
  width: 100%;
  margin: 20px 0;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  &.textareaInput {
    height: fit-content;
  }

  label {
    position: absolute;
    top: -8px;
    left: 0;
    color: $dark-grey;
    pointer-events: none;
    font-size: 14px !important;
  }

  input,
  textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    background: transparent;
    color: $white;

    &:focus {
      outline: none;
    }
  }

  textarea {
    padding: 15px 0;
  }

  .underline {
    position: absolute;
    bottom: 10px;
    height: 3px;
    width: 100%;
    background: $blue;
  }

  &.textareaInput .underline {
    bottom: 0px;
  }
}
